<%= simple_form_for @book  do |f| %>
  <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %>
  <%= f.file_field :book_img %>
  <%= f.input :title, label: "Book title" %>
  <%= f.input :description %>
  <%= f.input :author %>
  <%= f.button :submit %>
<% end %>

<!-- , :html => { multipart => true } -->