<h1>Edit book</h1>

<%= simple_form_for @book do |f| %>
  <%= f.select :category_id, @categories %>
  <%= f.file_field :book_img %>
  <%= f.input :title, label: "Book title" %>
  <%= f.input :description %>
  <%= f.input :author %>
  <%= f.button :submit %>
<% end %>

<!-- , :html => { multipart => true }  -->